# Ignore node_modules in both frontend and backend
node_modules/
backend/node_modules/
frontend/node_modules/

# Ignore local environment variables
.env
backend/.env
frontend/.env

# Ignore build outputs
dist/
frontend/dist/

# Ignore virtual environments
venv/
.venv/
node.zip
nodejs/

# System files
.DS_Store
Thumbs.db

# Ignore external reference repositories
21st/
antigravity-awesome-skills/
ui-ux-pro-max-skill/
anty-gravity hakathon/
node.zip
nodejs/
venv/
.venv/
